## Question 1

In [18]:
import pandas as pd
from sklearn import linear_model

In [2]:
# Read in the data
hitters = pd.read_csv("Hitters.csv")

In [4]:
hitters.head(20)

,Unnamed: 0,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,...,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,-Andy Allanson,293,66,1,30,29,14,1,293,66,...,30,29,14,A,E,446,33,20,NaN,A
1,-Alan Ashby,315,81,7,24,38,39,14,3449,835,...,321,414,375,N,W,632,43,10,475.000,N
2,-Alvin Davis,479,130,18,66,72,76,3,1624,457,...,224,266,263,A,W,880,82,14,480.000,A
3,-Andre Dawson,496,141,20,65,78,37,11,5628,1575,...,828,838,354,N,E,200,11,3,500.000,N
4,-Andres Galarraga,321,87,10,39,42,30,2,396,101,...,48,46,33,N,E,805,40,4,91.500,N
5,-Alfredo Griffin,594,169,4,74,51,35,11,4408,1133,...,501,336,194,A,W,282,421,25,750.000,A
6,-Al Newman,185,37,1,23,8,21,2,214,42,...,30,9,24,N,E,76,127,7,70.000,A
7,-Argenis Salazar,298,73,0,24,24,7,3,509,108,...,41,37,12,A,W,121,283,9,100.000,A
8,-Andres Thomas,323,81,6,26,32,8,2,341,86,...,32,34,8,N,W,143,290,19,75.000,N
9,-Andre Thornton,401,92,17,49,66,65,13,5206,1332,...,784,890,866,A,E,0,0,0,1100.000,A
10,-Alan Trammell,574,159,21,107,75,59,10,4631,1300,...,702,504,488,A,E,238,445,22,517.143,A
11,-Alex Trevino,202,53,4,31,26,27,9,1876,467,...,192,186,161,N,W,304,45,11,512.500,N
12,-Andy VanSlyke,418,113,13,48,61,47,4,1512,392,...,205,204,203,N,E,211,11,7,550.000,N
13,-Alan Wiggins,239,60,0,30,11,22,6,1941,510,...,309,103,207,A,E,121,151,6,700.000,A
14,-Bill Almon,196,43,7,29,27,30,13,3231,825,...,376,290,238,N,E,80,45,8,240.000,N
15,-Billy Beane,183,39,3,20,15,11,3,201,42,...,20,16,11,A,W,118,0,0,NaN,A
16,-Buddy Bell,568,158,20,89,75,73,15,8068,2273,...,1045,993,732,N,W,105,290,10,775.000,N
17,-Buddy Biancalana,190,46,2,24,8,15,5,479,102,...,65,23,39,A,W,102,177,16,175.000,A
18,-Bruce Bochte,407,104,6,57,43,65,12,5233,1478,...,643,658,653,A,W,912,88,9,NaN,A
19,-Bruce Bochy,127,32,8,16,22,14,8,727,180,...,67,82,56,N,W,202,22,2,135.000,N

In [5]:
hitters.columns

Index(['Unnamed: 0', 'AtBat', 'Hits', 'HmRun', 'Runs', 'RBI', 'Walks', 'Years',
       'CAtBat', 'CHits', 'CHmRun', 'CRuns', 'CRBI', 'CWalks', 'League',
       'Division', 'PutOuts', 'Assists', 'Errors', 'Salary', 'NewLeague'],
      dtype='object')

In [6]:
# Name the "Unnamed" column
hitters.rename(columns = {'Unnamed: 0': 'Name'}, inplace = True)

In [7]:
hitters.head(5)

,Name,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,...,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,-Andy Allanson,293,66,1,30,29,14,1,293,66,...,30,29,14,A,E,446,33,20,NaN,A
1,-Alan Ashby,315,81,7,24,38,39,14,3449,835,...,321,414,375,N,W,632,43,10,475.0,N
2,-Alvin Davis,479,130,18,66,72,76,3,1624,457,...,224,266,263,A,W,880,82,14,480.0,A
3,-Andre Dawson,496,141,20,65,78,37,11,5628,1575,...,828,838,354,N,E,200,11,3,500.0,N
4,-Andres Galarraga,321,87,10,39,42,30,2,396,101,...,48,46,33,N,E,805,40,4,91.5,N

In [9]:
# Omit categorical predictors
hitters_new = hitters._get_numeric_data()

In [13]:
hitters_new.columns

Index(['AtBat', 'Hits', 'HmRun', 'Runs', 'RBI', 'Walks', 'Years', 'CAtBat',
       'CHits', 'CHmRun', 'CRuns', 'CRBI', 'CWalks', 'PutOuts', 'Assists',
       'Errors', 'Salary'],
      dtype='object')

### 1.1 Lasso

In [26]:
clf = linear_model.Lasso(alpha = 0.8, normalize = True, fit_intercept = False)
clf.fit(hitters_new.iloc[:,:-1], hitters_new.iloc[:,-1:])
clf.get_params(deep = True)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').